@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	background-color: black;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: whitesmoke;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: whitesmoke;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: #faed26;
}

.section {
    padding: 4 rem 0 2rem;
}

.section-subtitle {
    display: block;
    font-size: 0.813rem;
    color: #290f09;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.button1 {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #faed26;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.button1:hover {
	color: white;
	background-color: #faed26;
}
.name h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.name h1 span {
	color: #faed26;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
}

/* Header section */
 #header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
 .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
 .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
 .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
 .nav-list ul.active {
	left: 0%;
}
 .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
 .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(255, 255, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
 .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
 .nav-list ul li:hover a {
	color: #faed26;
}
 .circle {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
 .circle:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: circle_puls 1s ease infinite;
}
 .circle .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
 .circle .bar::after,
 .circle .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
 .circle .bar::after {
	top: 8px;
}
 .circle .bar::before {
	bottom: 8px;
}
 .circle.active .bar::before {
	bottom: 0;
}
 .circle.active .bar::after {
	top: 0;
}

/* Home Section */
#home {
	background-image: url(./img/bg3.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
.home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #faed26;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#home h1:nth-child(1) span {
	animation-delay: .5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}

.sound__container {
	margin-left: 110px;
	margin-top: -60px;

}

button{
	padding: 10px 25px;
	font-size: 22px;
	line-height: 40px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	background: linear-gradient(to right bottom,#faed26,yellowgreen);
	color: #fff;
	border-radius: 5px;
	border:0px;
	height: 60px;
}

/* biodata Section */
.biodata {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
 .col-left {
	width: 250px;
	height: 360px;
}
 .col-right {
	width: 100%;
}
 .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
 .col-right p {
	margin-bottom: 20px;
}
 .col-right .button1 {
	color: white;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
 .col-left .biodata-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
 .col-left .biodata-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #faed26;
	z-index: -1;
}

/* Education Top */
.education {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
 .education-top {
	max-width: 500px;
	margin: 0 auto;
}
 .education-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
 .education-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/bg2.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
 .education-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}
 .education-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
 .education-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
 .education-item p {
	color: white;
	text-align: left;
}

/* Education Bottom */
.education__container {
	row-gap: 6rem;
	margin-top: 50px;
	margin-bottom: 10rem;
}

.education__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race {
    font-size: 3rem;
	margin-bottom: 1rem;
	color: whitesmoke;
}

.education__university {
    display: block;
	font-size:  2rem;
	color: whitesmoke;
}

.education__year, .education__university {
    text-align: right;
}

.education__time {
    padding: 0 3rem;
    justify-self: center;
}

.education__rounder {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: yellowgreen;
    border-radius: 50%;
}

.education__rounder::before {
    content: '';
    position: absolute;
    transform: translate(-8px, -8px);
    width: 38px;
    height: 38px;
    border: 1px solid yellowgreen;
    border-radius: 50%;
}

.education__line {
    display: block;
    height: 90%;
    width: 2px;
    background-color: yellowgreen;
    transform: translate(11px, -8px);
}

.skills__container {
	row-gap: 6rem;
	margin: auto;
}

.skills__subtitle {
    font-size: 2rem;
    color: rgb(250, 236, 236);
    margin-bottom: 2rem;
}

.skills__data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    margin-bottom: 3rem;
}

.skills__name {
    text-transform: uppercase;
}

.skills__bar {
    position: absolute;
    bottom: -1rem;
    height: 0.75rem;
    background-color: yellowgreen;
}

.skills__awareness {
    width: 80%;
}
.skills__caring {
    width: 90%;
}
.skills__teamwork {
    width: 70%;
}
.skills__comm {
    width: 60%;
}


.skills__html {
    width: 70%;
}
.skills__css {
    width: 70%;
}
.skills__adobe {
    width: 80%;
}
.skills__java {
    width: 60%;
}

.video__container {
	margin: 50px 0;
	text-align: center;
	align-items: center;
}

/* Experience section */
 .experience {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
	min-height: 100vh;
}
 .experience-header h1 {
	margin-bottom: 50px;
}
 .all-experience {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
 .experience-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
 .experience-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
 .experience-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
 .experience-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
 .experience-info p {
	color: white;
}
 .experience-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
 .experience-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .7;
}
 .experience-img img {
	transition: .3s ease transform;
}
 .experience-item:hover .experience-img img {
	transform: scale(1.1);
}

/* Family Section */
#family {
	margin-top: 10rem;
  }
  
  .family,
  .family > .column {
	padding: 8px;
	color: whitesmoke;
	justify-items: center;
	row-gap: 3rem;
	text-align: center;
  }
  
  .column {
	float: left;
	width: 25%;
  }
  
  .family:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .content {
	background-color: black;
	padding: 10px;
	color: whitesmoke;
	text-align: center;
  }

/* Gallery Section */
.gallery .container1 {
	margin-top: 10rem;
}

.gallery__container {
    justify-items: center;
	row-gap: 3rem;
	margin: auto auto 50px auto;
}

.gallery__img {
	height: 200px;
	width: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.gallery__data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(204, 75, 44, 0.7);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.gallery__link {
    display: inline-flex;
    font-size: 1.5rem;
    color: #faed26;
    padding: 0.25rem;
	border-radius: 0.25rem;
	width: 70px;
	margin: 0 auto;
    margin-bottom: 1rem;
}

.gallery__title {
    font-size: 2.25rem;
    color: #faed26;
}

.gallery__img:hover .gallery__data {
    bottom: 0;
} 

/* contact Section */
 .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

.contact__form {
	padding-top: 50px;
	row-gap: 3rem;
	max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact__input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #eae7e6;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.contact ::placeholder {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.button2 {
    display: inline-block;
    background-color: #faed26;
    color: #fffafa;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: .5rem;
    transition: 0.3s;
}

.button2:hover {
    background-color: greenyellow;
}

.contact__button {
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    cursor: pointer;
}

 .contact-items {
	width: 400px;
}
 .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 white;
	transition: .3s ease box-shadow;
}
 .contact-item:hover {
	box-shadow: 0px 0px 5px 0 white;
}
 .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
 .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
	color: whitesmoke;
}
 .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: whitesmoke;
}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #0f0d12 0%, #3c3650 100%);
}
 .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
 h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
 .social-icon {
	display: flex;
	margin-bottom: 30px;
}
 .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
 .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
 .social-item:hover img {
	filter: grayscale(0);
}
 p {
	color: white;
	font-size: 1.3rem;
}

/* Keyframes */
@keyframes circle_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #faed26;
		font-weight: 500;
	}
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.button1 {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Home */
	#home h1 {
		font-size: 7rem;
	}

	/* Education Section */
	 .education-bottom .education-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/* Experience */
	 .experience-item {
		flex-direction: row;
	}
	 .experience-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	 .experience-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	 .all-experience .experience-info {
		height: 100%;
	}
	 .all-experience .experience-img {
		height: 100%;
	}

	/* Biodata */
	 .biodata {
		flex-direction: row;
	}
	 .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	 .biodata .col-left .biodata-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #faed26;
	}
	 .col-right {
		text-align: left;
		padding: 30px;
	}
	 .col-right h1 {
		text-align: left;
	}

	/* Gallery */
	.gallery__container {
		grid-template-columns: repeat(2,1fr);
	}

	/* Contact  */
	 .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	 .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 20px;
	}
	 .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	 .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	 .contact-item .icon img {
		object-fit: contain;
	}
	 .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	 .circle {
		display: none;
	}
	 .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	 .nav-list ul li {
		display: inline-block;
	}
	 .nav-list ul li a {
		font-size: 1.8rem;
	}
	 .nav-list ul a:after {
		display: none;
	}

	 .education-bottom .education-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	.gallery__container {
        grid-template-columns: repeat(3,1fr);
    }
}